version: "3.9"

services:
  postgres-user:
    image: postgres:15
    container_name: postgres-user
    restart: always
    environment:
      POSTGRES_USER: user_service
      POSTGRES_PASSWORD: user_pass
      POSTGRES_DB: user_wallet_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata_user:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  pgdata_user: